$primary-color: fc4b23;
$hover-color:         #fc4b23;
$hover-color-2:       #ff8b00;
$nav-color:           #3a3a3c;
$nav-text-color:      #818285;

$header-width: 100vw;
$header-height: 80px;
$fade-length: 500ms;

$card-gap: 1.6%;
$card-slot-width: 97.1%;
$card-font-size: 1em;

@import 'cssReset';

html {
  background-image: url('../assets/bg.jpg');

  #header {
    background-color: white;
    width: $header-width;
    height: $header-height;
    position: relative;
    z-index: 5;

    #headerBG {
      #logoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $header-width;
        height: $header-height;
        background: no-repeat;
        background-image: url('../assets/header_bg.svg');
        background-position: center;
      }

      #plusContainer {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: $header-width;
      }

      #extraOption {
        transition-duration: $fade-length;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2.4em;
        width: 26px;
        height: 26px;
        border: 1px solid black;

        #moreOptions {
          font-size: 2em;
        }
      }

      #extraOption:hover {
        background-color: $hover-color;
        border: 0px;

        #moreOptions {
          color: white;
        }
      }
    }
  }

  #topNav {
    display: flex;
    justify-content: center;
    background-color: $nav-color;
    box-shadow: 0px 0px 20px black;
    width: $header-width;
    height: $header-height / 1.8;
    position: absolute;
    z-index: 4;

    #containNavs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 22%;
      
      // for media querying, make sure to add PADDING to navItems and spacers
      .navItems, .spacer {
        transition-duration: $fade-length;

        white-space: nowrap;
        color: $nav-text-color;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em;
        // font-weight: bold;
      }

      .navItems:hover {
        color: $hover-color;
      }

      .spacer {
        font-size: 1.4em;
      }
    }
  }

  #feed {
    display: flex;
    justify-content: center;
    margin-top: 3.6em;
    width: 100vw;
    height: fit-content;

    #cardContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 35%;
      height: fit-content;

      .cardBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 45%;

        background-color: white;
        box-shadow: $hover-color-2;
        transition-duration: $fade-length / 2.4;
        margin-top: $card-gap;
        margin-bottom: $card-gap;
        height: 20vw;

        .postThumbnail {
          margin-top: 0.3em;
          margin-bottom: 0.3em;
        }

        .postTitle, .postDetails, .postPreview {
          @extend .postThumbnail;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: 'Lato', sans-serif;
        }

        .postThumbnail {
          // background-color: hotpink;
          width: $card-slot-width;
          height: 45%;
        }

        .postTitle {
          // background-color: lightblue;
          width: $card-slot-width;
          height: $card-font-size * 2;
          font-size: $card-font-size * 1.6;
        }

        .postDetails {
          // background-color: lightgreen;
          width: $card-slot-width;
          height: $card-font-size;
        }

        .postPreview {
          // background-color: lightsalmon;
          width: $card-slot-width;
          height: ($card-font-size) * 5;
        }
      }

      .cardBox:hover {
        box-shadow:inset 0 0 0 0.3em $hover-color-2;
      }
    }
  }

  #footer {
    display: flex;
    background-color: $nav-color;
    justify-content: center;
    width: 100vw;
    height: $header-height / 1.8;

    #socialMediaContainer {
      display: flex;
      justify-content: space-between;
      width: 90px;
      height: $header-height / 1.8;

      #facebook {
        width: 44.44px;
        background: no-repeat center;
        transition-duration: $fade-length;
        background-image: url('../assets/facebook_grey.svg');
      }

      #instagram {
        width: 44.44px;
        transition-duration: $fade-length;
        background: no-repeat center;
        background-image: url('../assets/instagram_grey.svg');
      }

      #facebook:hover {
        background-image: url('../assets/facebook_orange.svg');
      }

      #instagram:hover {
        background-image: url('../assets/instagram_orange.svg');
      }
    }
  }
}
