$primary-color: fc4b23;
$header-width: 100vw;
$header-height: 80px;
$hover-color:         #fc4b23;
$hover-color-2:       #ff8b00;
$nav-color:           #3a3a3c;
$nav-text-color:      #818285;
$fade-length: 600ms;
$card-gap: 1.6%;

@import 'cssReset';

html {
  background-image: url('../assets/bg.jpg');

  #header {
    background-color: white;
    width: $header-width;
    height: $header-height;
    position: relative;
    z-index: 5;

    #headerBG {
      #logoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $header-width;
        height: $header-height;
        background: no-repeat;
        background-image: url('../assets/header_bg.svg');
        background-position: center;
      }

      #plusContainer {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: $header-width;
      }

      #extraOption {
        transition-duration: $fade-length;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.6em;
        width: 26px;
        height: 26px;
        border: 1px solid black;

        #moreOptions {
          font-size: 2em;
        }
      }

      #extraOption:hover {
        background-color: $hover-color;
        border: 0px;

        #moreOptions {
          color: white;
        }
      }
    }
  }

  #topNav {
    display: flex;
    justify-content: center;
    background-color: $nav-color;
    box-shadow: 0px 0px 20px black;
    width: $header-width;
    height: $header-height / 1.8;
    position: absolute;
    z-index: 4;

    #containNavs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 22%;
      
      .navItems, .spacer {
        transition-duration: $fade-length;

        color: $nav-text-color;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em;
        // font-weight: bold;
      }

      .navItems:hover {
        color: $hover-color;
      }

      .spacer {
        font-size: 1.4em;
      }
    }
  }

  #feed {
    display: flex;
    justify-content: center;
    margin-top: 3.4em;
    width: 100vw;
    height: fit-content;

    #cardContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 35%;
      height: fit-content;

      .cardBox {
        background-color: white;
        box-shadow: $hover-color-2;
        transition-duration: $fade-length;
        flex-basis: 45%;
        margin-top: $card-gap;
        margin-bottom: $card-gap;
        height: 20vw;
      }

      .cardBox:hover {
        box-shadow:inset 0 0 0 0.4em $hover-color-2;
      }
    }
  }
}
