$primary-color: fc4b23;
$header-width: 100vw;
$header-height: 80px;
$hover-color:  #fc4b23;
$nav-color: #3a3a3c;
$nav-text-color: #818285;

@import 'cssReset';

html {
  background-image: url('../assets/bg.jpg');

  #header {
    background-color: white;
    width: $header-width;
    height: $header-height;
    #headerBG {
      #logoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $header-width;
        height: $header-height;
        background: no-repeat;
        background-image: url('../assets/header_bg.svg');
        background-position: center;
      }

      #plusContainer {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: $header-width;
      }

      #extraOption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.6em;
        width: 26px;
        height: 26px;
        border: 1px solid black;

        #moreOptions {
          font-size: 2em;
        }
      }

      #extraOption:hover {
        background-color: $hover-color;
        border: 0px;

        #moreOptions {
          color: white;
        }
      }
    }
  }

  #topNav {
    display: flex;
    justify-content: center;
    background-color: $nav-color;
    width: $header-width;
    height: $header-height / 1.8;

    #containNavs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 22%;
      
      .navItems, .spacer {
        transition-duration: 600ms;

        color: $nav-text-color;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em;
        // font-weight: bold;
      }

      .navItems:hover {
        color: $hover-color;
      }

      .spacer {
        font-size: 1.4em;
      }
    }
  }
}
