/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-image: url("../assets/bg.jpg"); }
  html #header {
    background-color: white;
    width: 100vw;
    height: 80px;
    position: relative;
    z-index: 5; }
    html #header #headerBG #logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80px;
      background: no-repeat;
      background-image: url("../assets/header_bg.svg");
      background-position: center; }
    html #header #headerBG #plusContainer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      width: 100vw; }
    html #header #headerBG #extraOption {
      transition-duration: 500ms;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2.4em;
      width: 26px;
      height: 26px;
      border: 1px solid black; }
      html #header #headerBG #extraOption #moreOptions {
        font-size: 2em; }
    html #header #headerBG #extraOption:hover {
      background-color: #fc4b23;
      border: 0px; }
      html #header #headerBG #extraOption:hover #moreOptions {
        color: white; }
  html #topNav {
    display: flex;
    justify-content: center;
    background-color: #3a3a3c;
    box-shadow: 0px 0px 20px black;
    width: 100vw;
    height: 44.44444px;
    position: absolute;
    z-index: 4; }
    html #topNav #containNavs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 22%; }
      html #topNav #containNavs .navItems, html #topNav #containNavs .spacer {
        transition-duration: 500ms;
        white-space: nowrap;
        color: #818285;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em; }
      html #topNav #containNavs .navItems:hover {
        color: #fc4b23; }
      html #topNav #containNavs .spacer {
        font-size: 1.4em; }
  html #feed {
    display: flex;
    justify-content: center;
    margin-top: 3.6em;
    width: 100vw;
    height: fit-content; }
    html #feed #cardContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 35%;
      height: fit-content; }
      html #feed #cardContainer .cardBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 45%;
        background-color: white;
        box-shadow: #ff8b00;
        transition-duration: 208.33333ms;
        margin-top: 1.6%;
        margin-bottom: 1.6%;
        height: 20vw; }
        html #feed #cardContainer .cardBox .postThumbnail, html #feed #cardContainer .cardBox .postTitle, html #feed #cardContainer .cardBox .postDetails, html #feed #cardContainer .cardBox .postPreview {
          margin-top: 0.3em;
          margin-bottom: 0.3em; }
        html #feed #cardContainer .cardBox .postTitle, html #feed #cardContainer .cardBox .postDetails, html #feed #cardContainer .cardBox .postPreview {
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: 'Lato', sans-serif; }
        html #feed #cardContainer .cardBox .postThumbnail, html #feed #cardContainer .cardBox .postTitle, html #feed #cardContainer .cardBox .postDetails, html #feed #cardContainer .cardBox .postPreview {
          width: 97.1%;
          height: 45%; }
        html #feed #cardContainer .cardBox .postTitle {
          width: 97.1%;
          height: 2em;
          font-size: 1.6em; }
        html #feed #cardContainer .cardBox .postDetails {
          width: 97.1%;
          height: 1em; }
        html #feed #cardContainer .cardBox .postPreview {
          width: 97.1%;
          height: 5em; }
      html #feed #cardContainer .cardBox:hover {
        box-shadow: inset 0 0 0 0.3em #ff8b00; }
  html #footer {
    display: flex;
    background-color: #3a3a3c;
    justify-content: center;
    width: 100vw;
    height: 44.44444px; }
    html #footer #socialMediaContainer {
      display: flex;
      justify-content: space-between;
      width: 90px;
      height: 44.44444px; }
      html #footer #socialMediaContainer #facebook {
        width: 44.44px;
        background: no-repeat center;
        transition-duration: 500ms;
        background-image: url("../assets/facebook_grey.svg"); }
      html #footer #socialMediaContainer #instagram {
        width: 44.44px;
        transition-duration: 500ms;
        background: no-repeat center;
        background-image: url("../assets/instagram_grey.svg"); }
      html #footer #socialMediaContainer #facebook:hover {
        background-image: url("../assets/facebook_orange.svg"); }
      html #footer #socialMediaContainer #instagram:hover {
        background-image: url("../assets/instagram_orange.svg"); }
